html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #32364c;
}

body {
  width: 440px;
  background-color: #a7b4ff;
  margin: auto;
  font-size: 16px;
  font-family: Consolas, monaco, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#title {
  width: 440px;
  text-align: right;
}

input {
  font-family: Consolas, monaco, monospace;
  width: 90%;
  height: 100%;
  text-align: right;
  margin: 0 5%;
  padding: 0;
  padding-right: 15px;
  border: 0;
  font-size: 32px;
  background-color: #f6f7ff;
  color: #32364c;
}

button {
  font-family: Consolas, monaco, monospace;
  font-size: 28px;
  height: 75px;
  width: 75px;
  background-color: #fff2a7;
  border-radius: 50px;
  border: 1px solid #ffea74;
  box-shadow: inset 1px 1px 2px 1px #fff9db, 1px 1px 2px 1px #ffea74;
  outline: none;
  margin: 4px;
  color: #32364c;
}

button:hover {
  cursor: pointer;
  background-color: #ffea74;
  box-shadow: inset 1px 1px 2px 1px #fff2a7, 1px 1px 2px 1px #ffe75b;
}

.activeoperator {
  border: 3px dotted #a7b4ff;
  box-shadow: none;
}

p {
  font-size: 30px;
}

div#calculator {
  width: 440px;
  border: 5px solid #96a2e5;
  background-color: #cad2ff;
  border-radius: 10px;
}

div#happenings {
  width: 380px;
  height: 120px;
  padding: 10px 30px;
}

p#equation {
  font-size: 24px;
}
div#operDigits {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

div#digits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div#operators {
  display: flex;
  flex-direction: column;
}

div#clearsandbackspace {
  display: flex;
  flex-direction: column;
}

#equals {
  flex-grow: 1;
}

#backspace {
  font-size: 28px;
}

#inputOutbox {
  width: 100%;
  height: 100%;
  background: #f6f7ff;
  border: 1px solid #96a2e5;
  margin-top: 8px;
  border-radius: 2px;
}

@media screen and (max-width: 415px) {
  body {
    width: 95%;
  }
  div#calculator {
    width: 95%;
  }
  div#happenings {
    width: 85%;
    padding: 10px 25px;
  }
  div#title {
    width: 95%;
  }
  button {
    width: 60px;
    height: 60px;
  }
}
